.MainContainer {
    flex-direction: column;
    display: flex;
    width: 100%;
    background: #434B56;
    height: 100%;
    padding: 0;
}

.ContentContainer {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    padding-top: 55px;
    flex-grow: 1;
    flex-shrink: 1;
}