.MainContainer {
    width: 100%;
    background: #434B56;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.ContentContainer {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}