.header-text {
    font-size: 24px;
    padding: 10px 0 0 20px;
    display: inline-block;
}

.header {
    height: 80px;
}

.header-buttons {
    float: right;
    margin: 15px 10px 10px 0;
}

.dropdown-button > button {
    padding: 0 !important;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    color: #ACACAC;
}

.header-option {
    padding: 0 !important;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    color: #ACACAC;
}

.options-menu {
    left: auto;
    right: 0;
    top: 90%;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.options-menu:empty {
    right: 0;
    left: inherit;
}

.options-menu ul:focus, a:focus {
    outline: none;
}