.IssuesContainer {
    height: 100%;
    float: left;
    padding-left: 15px;
    margin: 0;
}

.background {
    background: #FFFFFF;
}

.issues {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 0;
}

.issueDetails {
    padding-left: 15px;
}

.dateItems {
    display: flex;
    flex-direction: column;
}

.fullHeight {
    height: 100%;
    padding-right: 0;
}

.issueDoneHeader {
    margin-top: auto;
}

.issueDoneIcon {
    padding-left: 20px;
    color: #57B35C;
    font-size: 1.3em;
}