.IssuesContainer {
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.issuesTasksContainer {
    padding-left: 15px;
}

.issuesSubtasksContainer {
    padding-left: 15px;
}

.issues {
    background: #FFFFFF;
}

.issuesSubtasks {
    background: #FFFFFF;
}

.fullHeight {
    height: 100%;
    padding-right: 0;
}