.issuePanelContainer {
    display: contents;
    margin-bottom: 1px;
}

.issueItemContainer {
    padding: 10px 0 10px 40px;
    border-bottom: 1px solid #E7E6EC;
}

.container {
    margin: 0 !important;
}

.avatar {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.addNewItemContainer {
    padding: 20px 0 20px 20px;
    width: 100%;
    color: #357ae8;
}

.fullWidth {
    width: 100%;
}

.inputContainer {
    float: left;
    margin-left: 10px;
    padding: 0;
}

.addNewIssueCursor {
    cursor: pointer;
}

.avatarContainer {
    float: left;
}

.addNewIssueText {
    margin-left: 20px;
}

.doubleImagesContainer {
    display: inline-block;
}

.issueDoubleImageBottom {
    display: inline;
    z-index: 1;
    width: 40px;
    height: 40px;
    position: relative;
}

.issueDoubleImageTop {
    position: relative;
    display: inline;
    z-index: 2;
    top: 10px;
    left: -20px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    width: 40px;
    height: 40px;
}

.undefinedAvatar {
    background: #F3F3F5;
    border: 1px solid #F3F3F5;
}

.issueTitle {
    color: #394345;
    margin-left: 20px;
}

.projectName {
    padding: 0 5px 0 5px;
    color: #7C7281;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-left: 10px;
}

.issueStartDate {
    line-height: 40px;
    padding-right: 20px;
    color: #7C7281;
    float: right;
}

.selectedItem {
    background: #A9C6EE;
}

.collapseContainer {
    display: flex !important;
    flex-direction: column !important;
}

.scrollDiv {
    font-size: 12px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
    display: flex !important;
    flex-direction: column !important;
}

/*TextArea*/
.description-textarea {
    margin-left: 0 !important;
    padding: 15px 35px;
    font-size: 16px;
    resize: vertical !important;
    border-radius: 0;
    border-bottom: 1px solid #E7E6EC;
    min-height: 150px;
}

/*Issue to project dropdown*/
.issue-to-project {
    display: block;
    margin: 0 0 0 20px;
}

.add-to-project-menu {
    border-radius: 0;
    border: none;
    top: -35px;
    left: -15px;
    width: 65%;
    min-height: 100px;
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px #888888;
}

.add-to-project-menu > div:first-child {
    padding: 0 15px;
}

.add-to-project-menu > div:first-child > form {
    margin-bottom: 10px;
}

.add-to-project-menu input {
    border-radius: 0;
}

.issue-to-project-button {
    padding: 0;
}

.folders {
    margin-top: 20px;
    font-size: 13px;
}

.project-item {
    padding: 10px 20px;
    cursor: pointer;
}

.project-item > span {
    padding-right: 10px;
}

.project-item:hover {
    background-color: #e1e3e9;
}

.project-item:active {
    background-color: #ccc;
}

.project-item > i {
    margin-right: 5px;
}
