.menu {
    height: 100%;
    background-color: #4B5966;
    padding: 0;
}

.listContainer {
    list-style: none;
    padding: 0;
}

.menuItem {
    color: #dfdfdf;
    margin: 0;
    text-align: left;
    border-radius: 0;
    height: 40px;
    background-color: #52606D;
}

.menuItem div {
    padding: 10px 10px 10px 20px;
}

.listContainer > li span {
    color: #b9b9b9;
}

.listContainer > li a:hover, li a:visited {
    text-decoration: none;
}

.active {
    background: #568FCD !important;
}

.addProjectPlus {
    float: right;
    font-family: Helvetica;
    font-size: 18px;
    color: #93A3B4;
}

.projectNameInput {
    width: 100%;
    background: #4B5966;
    border: 1px solid #ccc;
}

.projectNameInput:focus {
    color: #FFFFFF;
    background-color: #434B56;
    border: 1px solid #568FCD;
}

.addProject {
    display: block;
    padding: 10px 10px 0 10px;
}

.addProject > input {
    width: 100% !important;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #4B5966;
    color: #fff;
    padding-left: 20px;
}

.addProject > input::-webkit-input-placeholder {
    color: #9BA6B4;
    font-size: 12px;
}

.projectMenuItem {
    color: #dfdfdf;
    height: 35px;
    padding: 8px 5px 8px 40px;
    background-color: transparent;
}

.selected {
    color: #4d90fe;
}

.projectMenuItem .glyphIcon {
    margin-right: 10px;
}