:global .container {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
    width: 100%;
    background: #434B56;
}

:global .navbar-default {
    border: none;
    background: none;
    margin: 0 !important;
    height: 5%;
}

:global .btn-link:focus, :global .btn-link:hover {
    color: #b9b9b9 !important;
    text-decoration: none;
}

:global .navbar-form.navbar-left {
    padding: 10px 15px 10px 0;
}

:global .navbar-default .navbar-form {
    border: none;
}

@media (min-width: 768px) {
    :global .navbar-form .form-control {
        width: 100%;
    }

    :global .navbar-default .navbar-form {
        border: none;
        width: 18%;
        padding: 10px 15px 0 0;
        margin: 0;
    }

    :global .navbar-form .form-group {
        width: 100%;
    }
}

.nav_dropdown {
    display: flex !important;
    background-color: #434B56;
}

.logout_menu {
    color: #FFFFFF !important;
    text-decoration: none;
}

.logout_menu .nav_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.logout_menu > span {
    margin-left: 5px;
}

.glyphicon_search {
    color: #FFFFFF;
}

.SearchInput {
    background: #434B56;
    width: 100%;
}

.SearchInput:focus {
    color: #FFFFFF;
    background-color: #434B56;
    border-color: #AAAAAA;
    border-radius: 4px;
}

.logoutMenu {
    border-radius: 0;
    border: none;
    top: 80%;
    width: 250px;
    background: #FFFFFF;
}

.openedDropdown {
    width: 100px;
    height: 50px;
    background: #FFFFFF;
}

.logoutDropdownHeader {
    margin-bottom: 5%;
}

.dropdownUserName {
    margin-left: 10px;
    font-size: 14px;
}

.dropdownLogo {
    display: inline-block;
    width: 70px;
    height: 70px;
}

.dropdownDivider {
    margin: 10px 0 0 0 !important;
    height: 5px !important;;
}

.dropdownLogout{
    background-color: #F0F0F0;
}

.dropdown-menu > li > a:hover {
    background-color: #DADADA !important;
}