:global .navbar-default {
    border: none;
    background: none;
    margin: 0 !important;
}

:global .btn-link:focus, :global .btn-link:hover {
    color: #b9b9b9 !important;
    text-decoration: none;
}

.inputCol {
    border: none;
    padding: 0 !important;
}

.fullSizeInput {
    width: 100% !important;
}

.navUserBlock {
    margin: 0 !important;
}

.navbarLogout {
    color: #FFFFFF !important;
    text-decoration: none;
}

.navbarLogout .navAvatar {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.navbarLogout > span {
    margin-left: 5px;
}

.glyphiconSearch {
    color: #FFFFFF;
}

.searchInput {
    background: #434B56;
}

.searchInput:focus {
    color: #FFFFFF;
    background-color: #434B56;
    border-color: #AAAAAA;
    border-radius: 4px;
}

.logoutMenu {
    border-radius: 0;
    border: none;
    top: 80%;
    width: 250px;
    background: #FFFFFF;
}

.openedDropdown {
    width: 100px;
    height: 50px;
    background: #FFFFFF;
}

.logoutDropdownHeader {
    margin-bottom: 5%;
}

.dropdownUserName {
    margin-left: 10px;
    font-size: 14px;
}

.dropdownLogo {
    display: inline-block;
    width: 70px;
    height: 70px;
}

.dropdownDivider {
    margin: 10px 0 0 0 !important;
    height: 5px !important;;
}

.dropdownLogout {
    background-color: #F0F0F0;
}

.dropdown-menu > li > a:hover {
    background-color: #DADADA !important;
}

.appNavbar {
    position: absolute;
    width: 100%;
}